.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.register-form input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-form button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0e79ff;
  border: none;
  color: white;
  border-radius: 5px;
}

.register-form button:hover {
  background-color: #0c5dc0;
}
